*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 99vh;
    width: 100%;
    background-image: url(img/home4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

}
.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:0 15px ;

}
.navbar ul li a{
    text-decoration: none;
    color:#5f5f5f;
}
.content{
    width: 100%;
    position: absolute;
    top:30%;
}
.left-col{
    margin-left: 6%;
}
.left-col h2{
    font-size: 30px;
    color: #fff;
    line-height: 0.1px;
    float:left;
    font-family: 'Courier New', Courier, monospace;
}
.right-col{
    float:right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.right-col p{
    font-size: 23px;
    color: #17d7bda8;
    font-weight: 600;
    margin-right: 15px;
    font-family: "UnifrakturMaguntia", cursive;
}
#icon{
    width:90px;
    cursor: pointer;
}